<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>GM</title>
</head>
<body>
    <h2>通用工具</h2>
    <p><a href="mail">GM工具:邮件</a></p>
    <p><a href="http://robot.war.acgfly.com/admin">GM工具:信息汇总</a></p>
    <!--<p><a href="payinfo">支付查询</a></p>-->
    <p><a href="userinfo">小工具:用户数统计</a></p>
    <p><a href="/member">小工具:个人信息查询</a></p>
    <p></p>
    <h2>分区工具</h2>
    {% if shorts %}
    {% for item in shorts %}
    <p><a target="_blank" href="http://gm.{{item.short}}.acgfly.com/admin/">{{item.name}} 活动配置</a></p>
    {% endfor %}
    {% endif %}
</body>
</html>